<div class="container">
  <div align="center">
    <font size=5 color="green"> Vidraçaria Tia Gusta </font>
  </div>

  <div class="table-wrapper-scroll-y" id="table_produtos">
      <div class="list-group">
        <app-item-pedido-grupo  [produtos]="produtos" (valorTotal)="recebeValorTotal($event)"></app-item-pedido-grupo>
     </div>
  </div>
  
  <!--Div do scroll -->
  <a class="list-group-item" id="lnkCarrinho"> <!--Sera outro modal -->
    <table bgcolor="grey">
      <tbody>
        <tr>
          <td rowspan="3" id="cel1"><font size=2> CARRINHO </font></td>
        <tr>
          <td id="cel"><font id="txtTotalCarrinho" size=2 color="red"> {{valorTotal}} </font></td>
        </tr>
      </tbody>
    </table>
  </a>
  
<!--Div do containner -->
